{% extends "basefile.html" %}
{% block body %}
    <div class="pixel-container">
        <h1 class="welcome-header">Dev API docs</h1>
        <h2 class="descript">1. How to get access to admin panel</h2>
        <h3 class="descript">
            You need to enter password in url:
            <br>
            /admin/PASSWORD
            <br> <br>
            change password with access password or go to "/admin" page and enter password there
        </h3>
        <h2 class="descript">2. How to get access code to admin panel</h2>
        <h3 class="descript">
            Just write to us on telegram or discord
            <br>
            Our contacts in "About" page
            <br> <br>
        </h3>
    </div>
{% endblock %}